<div class="bg-gray-100 min-h-14 grid grid-cols-3">
  <mat-icon class="my-auto ml-5"
    (click)="onLogoClick()"
  >home</mat-icon>
  <div
    class="font-bold text-xl my-auto text-center"
    (click)="onLogoClick()"
  >Shop Name</div>
  <div class="mr-5 text-right">
    <button
      (click)="onCartClick()"
      mat-icon-button
      [disabled]="orderService.getItemsTotalCount() === 0"
    >
      <mat-icon
        class="relative top-1"
        [matBadge]="orderService.getItemsTotalCount()"
        [matBadgeColor]="orderService.getItemsTotalCount() === 0 ? 'primary' : 'warn'"
      >shopping_cart</mat-icon>
    </button>

  </div>
</div>
<hr>
