<div class="item flex flex-col rounded-md p-3 shadow-lg transition-shadow h-full">
  <div class="relative rounded-md">
    <img class="rounded-md mb-5" [src]="catalogItem.images[0]">
<!--    <div class="rounded-t-md overlay h-6 absolute inset-x-0 inset-y-0 opacity-0-->
<!--                transition-opacity bg-gray-200 text-lg text-center">Переглянути</div>-->
    <div class="absolute bottom-10 right-5"
         (click)="onCartClick($event)"
    >
      <button mat-mini-fab class="gray-button">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
  <div class="text-lg mb-5 text-center">
    {{ catalogItem.title }}
  </div>
  <div class="text-lg font-semibold text-center">
    {{ catalogItem.price + " грн" }}
  </div>
</div>
