<form [formGroup]="formGroup" class="">
  <p>
    <mat-form-field floatLabel="always" appearance="fill">
      <mat-label>ПІБ</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </p>

  <p class="pb-5">
    <mat-form-field floatLabel="always" appearance="fill">
      <mat-label>Телефон</mat-label>
      <input matInput formControlName="phone">
      <mat-hint>+380-XX-XXX-XX-XX</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field floatLabel="always" appearance="fill">
      <mat-label>Місто</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field floatLabel="always" appearance="fill">
      <mat-label>НП № Відділення</mat-label>
      <input matInput formControlName="npUnit">
    </mat-form-field>
  </p>

  <div class="min-h-20">
    <mat-form-field floatLabel="always" appearance="fill">
      <mat-label>Коментар</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>
  </div>

  <div class="">
    <button class="" mat-stroked-button color="primary"
            [disabled]="!formGroup.valid || orderService.getItemsTotalCount() === 0"
            (click)="onCheckout()"
    >Оформити замовлення
    </button>
  </div>
</form>
<div class="font-medium text-md mt-5">
  * Оплата здіюснюється наложеним платежем, доставка за тарифами Нової Пошти
</div>
