<div class="container mb-5">
  <div class="">
    <app-image-carousel [product]="product"></app-image-carousel>
  </div>
  <div class="flex flex-col items-start description">
    <div class="flex flex-col shadow-lg p-5 rounded mb-10 w-full">
      <div class="text-lg font-bold mb-5 w-full">
        {{ product.title }}
      </div>
      <div class="mb-5">
        {{ product.description }}
      </div>
    </div>
    <div class="w-full flex flex-wrap justify-between">
      <span class="text-xl font-semibold mr-5">{{ product.price + ' грн' }}</span>
      <button (click)="onCartClick()" class="text-lg bg-gray-100" mat-raised-button>
        Додати у кошик
        <mat-icon class="ml-3">shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>
